<form id="contact_form_id" method="post" action="">
    
    {{ form.hidden_tag() }}

    <div class="col s12 m6 l7">
        <div class="input-field">
            <i class="material-icons prefix">account_circle</i>
            <input name="namejehdn" id="namejehdn" type="text" placeholder="" data-length="50" maxlength="50"
                required="">
            <label class="active" for="namejehdn">Your name</label>
            <span class="character-counter" style="float: right; font-size: 12px;"></span></div>
        <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input name="emaildjjd" id="emaildjjd" type="email" class="validate" placeholder="" data-length="50"
                maxlength="50" required="">
            <label class="active" for="emaildjjd">Email</label>
            <span class="helper-text" data-error="Wrong email" data-success=""></span>
            <span class="character-counter" style="float: right; font-size: 12px;"></span></div>
        <div class="input-field">
            <i class="material-icons prefix">edit</i>
            <input name="subjectjdhf" id="subjectjdhf" type="text" placeholder="" data-length="100" maxlength="100"
                required="">
            <label class="active" for="subjectjdhf">I'm interested in...</label>
            <span class="character-counter" style="float: right; font-size: 12px;"></span></div>
        <div class="input-field">
            <i class="material-icons prefix">short_text</i>
            <textarea name="messagejdjkdkd" id="messagejdjkdkd" class="materialize-textarea" placeholder=""
                data-length="1000" maxlength="1000" rows="5" required=""></textarea>
            <label class="active" for="messagejdjkdkd">Message</label>
            <span class="character-counter" style="float: right; font-size: 12px;"></span></div>
        <div id="fields" class="input-field" style="display: none;">
            <input type="text" name="name_field" id="name" value="">
            <input type="email" name="email_field" id="email" value="">
            <input type="text" name="subject_field" id="subject" value="">
            <textarea name="message" id="message_field" cols="30" rows="10"></textarea>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action" id="contact-bt">Send
            <i class="material-icons">send</i>
        </button>
    </div>
</form>
